<div>
    <%= form_for(@room, url: main_select_room_path) do |r| %>

        <%= r.date_field :select_a_date, min: Date.today + 1, value: (Date.current + 1.day).to_s %>

        <%= r.submit 'Choose Date' %>

    <% end %>
</div>