<h1>BOOK YOUR ROOM!<h1/>

<div class="row mt-4">
    <h3>Select a date</h3>
    <div>
        <%# <%= form.date_field :date_attribute %>

        <%# <%= f.text_field :date_of_tour, data:{ provide:'datepicker' } %>
    </div>    
</div>