<h1>BOOK YOUR ROOM!</h1>

    <div class="row mt-4">
    <h3>Select a date</h3>

    <%= render partial: "main/select_date",  locals: {room: @room}%>

    <div id="select_room">
        <%= render partial: "main/select_room", locals: {selected_date: @selected_date, room: @room } %>
    </div>

    <div id="select_room_slots">
        <%= render partial: "main/select_room_slots", locals: {selected_date: @selected_date, room: @room, slots: @slots, slot: @slot } %>
    </div>

</div>